
@{
    Layout = null;
}


<a href="/cart">
    Cart - <span class="cart-amunt">@ViewBag.Sum</span> 
    <i class="fa fa-shopping-cart"></i> 
    <span class="product-count">@ViewBag.Count</span>
</a>